body{
  background-color: #B5D6D6;
}
h1{
  font-size: 400%;
  letter-spacing: 3px;
  color: #FF7477;
  text-decoration: underline;
  text-decoration-color: ##FF7477;
  font-family: "Papyrus";
}
p{
  font-size: 300%;
  color: #E69597;
  font-family: "Garamond";
}
p1{
  font-size: 200%;
  color: #5A7684;
}
p2{
  font-size: 150%;
  color: #9C89B8;
}
img{
  width: 600px;
  border-style: solid;
  border-color: #CEB5B7;
}
iframe{
  
}

u1{
  text-align: center;
  list-style-type: none;
  position: left;
}

li a{
  padding: 5px;
  text-decoration: none;
  font-family: sans-serif;
  color: #92AFD7;
  background-color: #A28F9D;
  border: solid;
}
li a:hover{
  background-color: #646E68;
}
